

$font-stack: "Helvetica Neue", sans-serif;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  //display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #0b3890, #000000);
  font-family: $font-stack;
  background-attachment: fixed;
    
  .control-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    width: 170px;
    height: 70px;
    font-size: 1.7rem;
    font-weight: 700;
    background-image: linear-gradient(#ffffff, rgba(0,0,0,.7), #ffffff);
    cursor: pointer;
    box-shadow: 0px 0px 50px 7px #000000;
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

    &.ani {
      transform: perspective(10px) translateZ(0px);
      animation-name: brian;
      animation-duration: 1s;
      filter: blur(0);
      -webkit-filter: blur(0);
      animation-delay: 1s;
    }
    

    @keyframes brian {
      from {transform: perspective(10px) translateZ(0px);}
      to {transform: perspective(10px) translateZ(-300px);}
      from {filter: blur(0); -webkit-filter: blur(0);}
      to {filter: blur(20px); -webkit-filter: blur(20px);}
    }
  } // .control-button

  .container {
    height: 100vh;
    
    .panel {
      position: absolute;
      z-index: 50;
    }

    .top {
      width: 100%;
      height: 50%;
      background-image: linear-gradient(#000000, #333333);
      background-color: #000000;
      border-bottom: 1px solid #4a4a4a;
    } // .top

    .left {
      width: 50%;
      height: 50%;
      bottom: 0;
      background-image: linear-gradient(#333333, #000000);
      background-color: #000000;
      border-right: 1px solid #4a4a4a;
    } // .left

    .right {
      width: 50%;
      height: 50%;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(#333333, #000000);
      background-color: #000000; 
      border-left: 1px solid #4a4a4a;
    } // .right

    .main {
      display: none;
      max-width: 980px;
      margin: 170px auto 0 auto;

      .res-button {
        width: 280px;
        height: 280px;
        background-color: rgba(255, 0, 0, .4);
        position: fixed;
        right: 0;
        z-index: 100;
        -webkit-clip-path: polygon(72% 76%, 72% 22%, 100% 0, 100% 100%);
        clip-path: polygon(72% 76%, 72% 22%, 100% 0, 100% 100%);

        h3 {
          position: absolute;
          top: 87px;
          left: 168px;
          text-transform: uppercase;
          transform: rotate(-90deg);
          letter-spacing: 1.3px;
          font-size: 2rem;

          a {
            color: #ffffff;
            text-decoration: none;
          }
        }

        &:hover {
          right: -10px;
          transition: 200ms ease-in all;
        }
      }

      .my-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // 200?
        grid-gap: 20px;
        align-items: stretch;

        img {
          //border: 1px solid rgb(0, 195, 255);
          box-shadow: 2px 2px 6px 0 rgba(0,0,0,.3);
          max-width: 100%;
          filter: grayscale(1);
          -ms-filter: grayscale(1);
          -webkit-filter: grayscale(1);
          transition: 300ms ease all;

          &:hover {
            filter: grayscale(0);
          -ms-filter: grayscale(0);
          -webkit-filter: grayscale(0);
          //transform: scale(1.1);
          transition: 300ms ease all;
          }
        }
      }

      .contact-button {
        width: 280px;
        height: 280px;
        background-color: rgba(187, 255, 0, 0.4);
        position: fixed;
        left: 0;
        bottom: 70px;
        z-index: 100;
        -webkit-clip-path: polygon(28% 76%, 28% 22%, 0% 0%, 0% 100%);
        clip-path: polygon(28% 76%, 28% 22%, 0% 0%, 0% 100%);

        h3 {
          position: absolute;
          top: 85px;
          right: 160px;
          color: #ffffff;
          text-transform: uppercase;
          transform: rotate(90deg);
          letter-spacing: 1.3px;
          font-size: 2rem;

          a {
            color: #ffffff;
            text-decoration: none;
          }
        }

        &:hover {
          left: -10px;
          transition: 200ms ease-in all;
        }
      }

      .bio {
        margin-bottom: 700px;

        p {
          color: #ffffff;
          font-size: 1.1rem;
          font-weight: 200;
          margin: 20px 40px;

          &:first-of-type {
            margin-top: 170px;
          }
        }
      } // .bio

      .resume {
        margin-bottom: 700px;

        p {
          color: #ffffff;
          font-size: 1.1rem;
          font-weight: 200;
          margin: 20px 40px;
        }
      } // .resume

      .contact {
        margin-bottom: 700px;

        p {
          color: #ffffff;
          font-size: 1.1rem;
          font-weight: 200;
          margin: 20px 40px;
        }
      } // .contact
    } // .main
  } // .container

  #test1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 500px;
    position: fixed;
    z-index: -1;
    opacity: 0.1;
    background: url(../images/tech4.png) 5% 50% no-repeat;
  }

  #test2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    opacity: 0.14;
    background: url(../images/tech4.png) 95% 90% no-repeat;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .77);
    
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888888;
      width: 80%;
      max-width: min-content;
      position: relative;
      animation-name: animatetop;
      animation-duration: .4s;

      #caption {
        margin: 5px 0 20px 0;
        font-weight: bolder;
        font-size: 1.7rem;
      }

      .close {
        color: #aaaaaa;
        //float: right;
        position: absolute;
        right: 3%;
        top: 2%;
        font-size: 28px;
        font-weight: bold;

        &:hover, &:focus {
          color: #000000;
          text-decoration: none;
          cursor: pointer;
        }
      } // .close

      img {
        max-width: 570px;

        &.port-images {
          
        }
      }

      .port-content {
        
      }
      
    } // .modal-content
  } // .modal
@keyframes animatetop {
      from {top: -300px; opacity: 0;}
      to {top: 0; opacity: 1;}
    }

} // body